# Ignore all files
*

# Allow boilerplate files in repo
!.gitignore
!docker-compose.yml
!sync.yml
!.env.sample
!script/
!script/*
!README.md


######################################
# Example of whitelisting a Vendor
# name space for app/code and app/design
#
# !html/app/
# !html/app/code/
# !html/app/code/{Vendor}/
# !html/app/code/{Vendor}/*
# !html/app/code/{Vendor}/*/*
# !html/app/code/{Vendor}/*/*/*
# !html/app/code/{Vendor}/*/*/*/*
# !html/app/code/{Vendor}/*/*/*/*/*
#
# !html/app/design/{Vendor}/
# !html/app/design/{Vendor}/*
# !html/app/design/{Vendor}/*/*
# !html/app/design/{Vendor}/*/*/*
# !html/app/design/{Vendor}/*/*/*/*
# !html/app/design/{Vendor}/*/*/*/*/*
##########################################

# Project specific file whitelist
!html/
!html/composer.json
!html/composer.lock
